.view.view-bosa-voucher.view-id-bosa_voucher input {
  width: 200px;
  background: #dadada;
  border: 1px solid #bababa;
  color: #333;
  margin: 0;
}

#content .view.view-bosa-voucher.view-id-bosa_voucher .views-exposed-form .views-exposed-widget {
  float: left;
  clear: none;
  margin: 0;
}
#content .view.view-bosa-voucher.view-id-bosa_voucher .views-exposed-form .views-exposed-widget.views-submit-button {
  margin: 15px 0 0 0;
}
#bosa_voucher_load {
position: absolute;
height: 100%;
width: 100%;
background: rgba(222, 222, 222, 0.6);
padding-top: 20%;
text-align: center;
font-size: 22px;
}

i.register-ticket {
background: url(img/ok.png);
height: 40px;
width: 40px;
display: block;
background-position: -1px -6px;
}

.form-item.form-type-textfield.form-item-ticket-id {
float: left;
}
#edit-ticket-id {
width: 200px;
}
#bosa-voucher-ticket-form .button-wrapper input{
  margin-top: 24px!important;
}
tr.odd {
background-color: #f5f5f5!important;
}
table {
  line-height: 135%;
}

.mobile thead .comment,
.mobile thead .price,
.mobile thead .phone,
.mobile .info .comment,
.mobile .info .price,
.mobile .info .phone {
  display: none;
}

.mobile .footer-extra { display: none; }
.attendees-footer {border-top: 1px solid #333}

.mobile .info .order_id{
  background: url(img/info.png);
  background-repeat: no-repeat;
  background-position: 30px center;
}
#page.mobile .attendees {
  font-size: 150%;
}
